
:root{
  --secondary-font: "Bpmf Iansui", cursive;
  --primary-font: "Playpen Sans Thai", cursive;
  --primary-colour:  rgb(92, 149, 44);
  --secondary-colour: #8B6D5C;
  }



.btn-brown {
    background-color: var(--secondary-colour);
    color: white;
  }
  .btn-brown:hover {
    background-color: #bb947e;
    color: white;
  }
  .card-header {
    background-color: var(--primary-colour) !important;
    color: white !important;
  }

  .btn-prev {
    background-color: var(--primary-colour);
   
  }

  .btn-prev:hover {
    background-color: rgb(126, 205, 62);
  }

  #h2-enrol {
    color: white !important;
    font-family: var(--secondary-font);
  }

  .required {
    color: red;
    margin-left: 2px; /* small spacing from label text */
    font-weight: bold;
}