@import url('https://fonts.googleapis.com/css2?family=Bpmf+Iansui&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');


:root{
--secondary-font: "Bpmf Iansui", cursive;
--primary-font: "Playpen Sans Thai", cursive;
--primary-colour:  rgb(92, 149, 44);
--secondary-colour: #8B6D5C;
--theme-colour: rgb(230, 244, 219);
}   

#home-container{
    background-image: url("/assets/images/nanny-janes-enrol-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.container {
    background-color: rgb(230, 244, 219);
    width: 80%;
    position: relative;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px 0px;

}

.container h1, .container h2, h1 {
    color: var(--primary-colour) !important;
    text-transform: capitalize; 
    font-family: var(--primary-font);
}

.container h3, .container h4, h3{
   text-transform: capitalize; 
   color: var(--secondary-colour) !important;
   font-family: var(--secondary-font);
}

h5 {
    color: var(--secondary-colour);}


.navbar {
    background-color: white ;
    font-family: var(--secondary-font);
}

footer{
    margin-top: 30px;
    width: 100%;
    background-color: whitesmoke;
    color: var(--secondary-colour);
    font-family: var(--secondary-font);
}

#footer-span{
    margin-top: 50px;
}

li{
    list-style: none;
}

.carousel-inner {
    border-radius: 30px;
}
.carousel-item {
    width: 100%;
    
}


a.nav-link {
    color: rgb(80, 184, 28);
    font-weight: bold;
    margin: 0px 2px;
    font-size: 15px;
}
.nav-link.active {
    color: rgb(139, 75, 26) !important;
}
.nav-link:hover {
    color: rgb(139, 75, 26) !important;
}


#enrolement-img {
    width: 238px;
    height: 200px;
    border-radius: 5px;
}

#enrolement-img {
    width: 70%
}

#form-contact label{
    margin-bottom: 2px;
    margin-top: 20px;
}

#cv-span {
    font-style: italic;
    font-size: smaller;
    margin-left: 5px;
}

iframe {
    width: 100%;
    max-width: 100%;
    display: block;
}

@media (min-width: 890px){
    a.nav-link {
        font-size: 20px;
}
}

@media (min-width: 1000px){
    a.nav-link {
        font-size: 24px;
        
}
}

@media (min-width: 1140px){
    a.nav-link {
        font-size: 26px;
        margin: 0px 7px;
      
}
}

@media (min-width: 2000px){
    a.nav-link {
        font-size: 30px;
        margin: 0px 10px;
        
}
}
