@import url('https://fonts.googleapis.com/css2?family=Bpmf+Iansui&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');


:root{
--secondary-font: "Bpmf Iansui", cursive;
--primary-font: "Playpen Sans Thai", cursive;
--primary-colour: rgb(92, 149, 44);
--secondary-colour: #8B6D5C;
--theme-colour: rgb(253, 255, 251);
}   

body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.container {
    background-color: var(--theme-colour);
    width: 80%;
    position: relative;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px 0px;

}

.container h1, .container h2, h1 {
    color: var(--primary-colour) !important;
    text-transform: capitalize; 
    font-family: var(--primary-font);
}

.container h3, .container h4, h3{
   text-transform: capitalize; 
   color: var(--secondary-colour) !important;
   font-family: var(--secondary-font);
}

h5 {
    color: var(--secondary-colour);}


footer{
    margin-top: auto;
    width: 100%;
    background-color: whitesmoke;
    color: var(--secondary-colour);
    font-family: var(--secondary-font);
    bottom: 0;
    position: relative;

}

#footer-span{
    margin-top: 50px;
}

li{
    list-style: none;
}

.carousel-inner {
    border-radius: 30px;
}
.carousel-item {
    width: 100%;
    
}

.navbar {
    background-color: white ;
    font-family: var(--secondary-font);
}

a.nav-link {
    color: var(--secondary-colour);
    font-weight: bold;
    font-size: 16px;
}
.nav-link.active {
    color: var(--primary-colour) !important;
}
.nav-link:hover {
    color: #bb947e !important;
}


#form-contact label{
    margin-bottom: 2px;
    margin-top: 20px;
}

#cv-span {
    font-style: italic;
    font-size: smaller;
    margin-left: 5px;
}

iframe {
    width: 100%;
    max-width: 100%;
    display: block;
}

#span-follow, #span-useful, #span-loction{
    color: var(--primary-colour);
}

@media (min-width: 890px){
    a.nav-link {
        font-size: 20px;
       
}
}

@media (min-width: 1000px){
    a.nav-link {
        font-size: 20px;
        margin: 0px 5px;
       
}
}

@media (min-width: 1140px){
    a.nav-link {
        font-size: 26px;
        margin: 0px 3px;
      
}
}

@media (min-width: 2000px){
    a.nav-link {
        font-size: 30px;
        margin: 0px 7px;
        
}
}
