.container {
    background-color: rgb(253, 249, 252);
    width: 80%;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container h1 {
    color: green;
    text-transform: capitalize; 
}

.container h2{
   text-transform: capitalize; 
   color: rgb(156, 104, 79);
}


.navbar {
    background-color: rgb(243, 249, 255) ;
}

footer{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(243, 249, 255);
}

#footer-span{
    margin-top: 50px;
}

li{
    list-style: none;
}

.carousel-inner {
    border-radius: 30px;
}
.carousel-item {
    width: 100%;
    
}

.nav-link.active {
    color: green !important;
}

#enrolement-img {
    width: 238px;
    height: 200px;
    border-radius: 5px;
}

enrolement-styling {
display: inline-flex;
}

#form-contact label{
    margin-bottom: 2px;
    margin-top: 20px;
}

#cv-span {
    font-style: italic;
    font-size: smaller;
    margin-left: 5px;
}